/*colors*/
/*fonts*/
/*texts*/
body {
  font-family: Montserrat, Helvetica, Arial, sans-serif; }

button:active,
button:focus {
  outline: none; }

button:hover {
  background: #fde94d; }

.submit .span {
  font-family: Raleway, Helvetica, Arial, sans-serif; }

.paddingtext {
  padding: 2px 0;
  border-left: 20px solid #fde634;
  width: 400px;
  margin: 20px auto; }

.center {
  margin: 0 auto;
  text-align: center; }

.padding5 {
  padding-left: 5px;
  padding-right: 5px; }

.padding10 {
  padding-left: 10px;
  padding-right: 10px; }

.padding20 {
  padding-left: 20px;
  padding-right: 20px; }

.padding30 {
  padding-left: 30px;
  padding-right: 30px; }

.padding40 {
  padding-left: 40px;
  padding-right: 40px; }

.padding50 {
  padding-left: 50px;
  padding-right: 50px; }

.padding60 {
  padding-left: 60px;
  padding-right: 60px; }

.padding70 {
  padding-left: 70px;
  padding-right: 70px; }

.margin5 {
  margin-left: 5px;
  margin-right: 5px; }

.margin10 {
  margin-left: 10px;
  margin-right: 10px; }

.margin20 {
  margin-left: 20px;
  margin-right: 20px; }

.margin30 {
  margin-left: 30px;
  margin-right: 30px; }

.margin40 {
  margin-left: 40px;
  margin-right: 40px; }

.margin50 {
  margin-left: 50px;
  margin-right: 50px; }

.margin60 {
  margin-left: 60px;
  margin-right: 60px; }

.margin70 {
  margin-left: 70px;
  margin-right: 70px; }

html {
  position: relative;
  background: url(../img/bg4.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  height: 100%; }

body {
  background-color: transparent;
  color: #fafafa;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  width: 100%;
  height: 100%; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format("woff"); }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FArib3hpw3pgy2gAi-Ip7WPMi0.woff) format("woff"); }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff) format("woff"); }

span {
  background-color: #fde634;
  padding: 2px 10px 2px 10px;
  color: #111;
  font-weight: bold;
  text-shadow: none; }

.span {
  background-color: #fde634;
  padding: 2px 10px 2px 10px;
  color: #111;
  font-weight: bold;
  text-shadow: none; }

H3 {
  text-align: center; }

.titel {
  margin-top: 90px; }

.submit {
  background-color: #fde634;
  padding: 10px 20px 10px 20px;
  font-weight: bolder;
  font-size: 20pt;
  color: #111; }

.account {
  margin-top: 50px;
  text-align: center; }

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: transparent; }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2); }

.text {
  text-align: left;
  font-size: 16px;
  text-shadow: 2px 2px 2px #111;
  font-family: Raleway, Helvetica, Arial, sans-serif; }

.yelloww {
  background-color: #fde634;
  color: #111;
  text-shadow: none; }

.button {
  padding: 0px 80px 0px 80px;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 100px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fde634;
  border-color: #fde634;
  border: solid;
  border-width: 3px; }

.blackbg {
  background-color: rgba(0, 0, 0, 0.6); }

/*
PAGE SCROLL (SECTIONS ETC)

Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */
.intro-section {
  padding-top: 150px;
  text-align: left;
  min-height: 100%; }

.about-section {
  padding-top: 150px;
  text-align: left; }

.services-section {
  padding-top: 150px;
  text-align: left; }

.contact-section {
  text-align: left; }

/*
PROGRESS BAR VOOR DE KUNST */
.progress {
  width: 100%;
  height: 50px; }

.progress-wrap {
  background: #fde634;
  margin: 20px 0;
  overflow: hidden;
  position: relative; }

.progress-wrap .progress-bar {
  background: #333;
  left: 0;
  position: absolute;
  top: 0; }
