@import "modules/variables";
@import "modules/yellowblock";
@import "modules/queries";
@import "partials/general";
@import "partials/audio-player";


// TODO remove when updating nav markup on premium
.navbar {
  .navbar-nav { 
    display: inline-block;
    float: none;
  }

  .navbar-collapse { text-align: center; }
}

.nav .menu { padding-right: 8px; }

.main {
  // TODO Make room when new header is added
  margin-top: 60px;
  padding: 0 15px;
}


.main-heading {
  text-align: center;
  margin-bottom: 40px;

  .bolts-left,
  .bolts-right { 
    position: relative;
    bottom: 8px; 
  }
  .title {
    color: $yelloww;
    font-size: 1.5em;
    display: inline-block;
  }
}

.performers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  color: #fafafa;
  
  // For wrapping only (when too many performers in a row)
  .performer {
    width: 170px;
    margin-bottom: 25px;
  }
  
  .thumb {
    max-width: 100px;
    border-radius: 50%;
  }
  
  .name {
    display: block;
    margin: 15px 0 5px;
    font-size: 1.2em;
  }
  
  .instrument { color: darken(white, 20); }
}

.video-wrap {
  @include yellowblock;
  margin-bottom: 30px;
}


.scrollartists {
  padding-bottom: 80px;
  margin-left:55px;
}
.scrollartists ul {
    list-style-type: none;
    padding: 0 
}

.scrollartists iframe {
  width:100%;
  height: 400px;
}

//////// VIDEO /////////

.yellowblock {
  height: 10px;
  background-color: #fde634;
  width: 100%;
}

/* ///////// BLOG ////////// */

.scrollblog {
  padding-bottom: 100px;
}

.blogtitel {
  color: #fde634;
  } 

.blogtext {
  padding-left: 30px ;
  padding-right:30px;
}


/* ///////// PHOTO'S ////////// */

.scrollphoto img {
  width:100%;
}
.scrollphoto>div {
  padding-bottom: 30px
}


@include laptop {
  .main {
    padding: 20px;
  }
}