@import "modules/variables";
@import "modules/yellowblock";
@import "modules/queries";
@import "partials/general";
@import "partials/audio-player";

$section-spacing: 50px;


// TODO remove when updating nav markup on premium
.navbar {
  .navbar-nav { 
    display: inline-block;
    float: none;
  }

  .navbar-collapse { text-align: center; }
}

.nav .menu { padding-right: 8px; }

.main {
  // TODO Make room when new header is added
  margin-top: 60px;
  padding: 0 15px;
}


.main-heading {
  text-align: center;
  margin-bottom: 40px;

  .bolts-left,
  .bolts-right { 
    position: relative;
    bottom: 8px; 
  }
  .title {
    color: $yelloww;
    font-size: 1.5em;
    display: inline-block;
  }
}

// Video
.video-wrap {
  @include yellowblock;
  margin-bottom: $section-spacing;
}

// Performers
.performers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  color: #fafafa;
  margin-bottom: $section-spacing;
  
  // For wrapping only (when too many performers in a row)
  .performer {
    width: 170px;
    margin-bottom: 25px;
  }
  
  .thumb {
    max-width: 100px;
    border-radius: 50%;
    border: 2px solid rgba(white, 0.1);
  }
  
  .name {
    display: block;
    margin: 15px 0 5px;
    font-size: 1.2em;
  }
  
  .instrument { color: darken(white, 20); }
}

// Blog
.blog {
  @include yellowblock;
  text-shadow: 2px 2px 7px #222;
  margin-bottom: $section-spacing;

  .title { color: $yelloww; }
  .body { 
    text-align: justify; 
    margin-top: 10px;
    padding: 0 20px;
  }
}


/* ///////// PHOTO'S ////////// */

.scrollphoto img {
  width:100%;
}
.scrollphoto>div {
  padding-bottom: 30px
}


@include laptop {
  .main {
    padding: 20px;
  }
}