@import "modules/variables";
@import "modules/queries";
@import "partials/general";
@import "partials/audio-player";


// TODO remove when updating nav markup on premium
.navbar {
  .navbar-nav { 
    display: inline-block;
    float: none;
  }

  .navbar-collapse { text-align: center; }
}

.nav .menu { padding-right: 8px; }

.main { display: none;}


/* ////////////  TITEL  ///////////// */

.scrolltitel {
  color: #fde634;
  padding-bottom: 30px;
  padding-top: 120px;

}
.scrolltitel div {
  display: inline-block;
}
.scrolltitel img {
  margin-top: -20px;
}

/* //////// ARTISTS ///////// */
.scrollartists {
  padding-bottom: 80px;
  margin-left:55px;
}
.scrollartists ul {
    list-style-type: none;
    padding: 0 
}

.scrollartists iframe {
  width:100%;
  height: 400px;
}

/* //////// VIDEO ///////// */

.scrollvideo {
  padding-bottom: 200px;
}
.yellowblock {
  height: 10px;
  background-color: #fde634;
  width: 100%;
}

/* ///////// BLOG ////////// */

.scrollblog {
  padding-bottom: 100px;
}

.blogtitel {
  color: #fde634;
  } 

.blogtext {
  padding-left: 30px ;
  padding-right:30px;
}


/* ///////// PHOTO'S ////////// */

.scrollphoto img {
  width:100%;
}
.scrollphoto>div {
  padding-bottom: 30px
}


@include laptop {
  .main {
    padding: 20px;
  }
}